* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 0;
}

.title {
    text-align: center;
}


.main {
    display: flex;
    justify-content: center;
    
}
.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width: 200px;
    height: 200px;
    border: 1px solid black;

}

html {
    cursor: none;
  }

#circularcursor {
    background-color: transparent;
    border:1px solid black;    
    height:20px;
    width:20px;
    border-radius:50%;
    /* -moz-border-radius:50%;
    -webkit-border-radius:50%; */
    position: absolute;
    z-index: 1;
  }


.grid-item{
    user-select: none;
}

.canvas {
    border: 1px solid black;
    

}

/* .grid-item:hover{
    background-color: red;
} */