* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 0;
}

.title {
    text-align: center;
}


.main {
    display: flex;
    justify-content: center;
    
}
.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width: 200px;
    height: 200px;
    border: 1px solid black;

}

html {
    cursor: crosshair;
  }


.grid-item{
    user-select: none;
}

.canvas {
    border: 1px solid black;
    

}

#tools-bar{
    display: inline-block;
    position: fixed;
    top: 14vh;
    left: 2rem;
    width: 4.5rem;
    pointer-events: none;
    z-index: 10;
}

.tool{
    display: inline-block;
    width: 41px;
    height: 41px;
    background-color: rgba(242,242,242,0.98);
    /* margin-left: 1rem 0; */
    position: relative;
    border-radius: 50%;
    pointer-events: auto;
}

.tooltips-text {
    visibility: hidden;
    position: absolute;
    padding: 8px;
    top: 3px;
    left: 140%;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #4f4f4f;
    /* z-index: 2; */
}

.tool:hover .tooltips-text{
    visibility: visible;
}


.tooltips-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: #f1f1f1;
    padding: 5px;
    top: 12px;
    left: -4px;
    /* z-index: 1; */
}


#main-canvas-container {
    background-color: #b3b3b3;
}






/* .grid-item:hover{
    background-color: red;
} */